.chatInput_Container {
  display: grid;
  align-items: center;
  grid-template-columns: 5% 95%;
  background-color: #080420;
  padding: 0 2rem;
}
.chatInput_Container_button-container {
  display: flex;
  align-items: center;
  color: white;
  gap: 1rem;
}
.chatInput_Container_emoji {
  position: absolute;
  bottom: 13%;
}
.chatInput_Container_emoji > svg {
  font-size: 2rem;
  color: #ffff00c8;
  cursor: pointer;
}
.chatInput_Container_emojisz {
  position: absolute;
  bottom: 7%;
}
.chatInput_Container_emojisz > svg {
  font-size: 2rem;
  color: #ffff00c8;
  cursor: pointer;
}

.chatInput_Container_input-container {
  width: 100%;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: #ffffff34;
}
.chatInput_Container_input-container > input {
  width: 90%;
  height: 60%;
  background-color: transparent;
  color: white;
  border: none;
  padding-left: 1rem;
  font-size: 1.2rem;
}
.chatInput_Container_input-container > input::selection {
  background-color: #9a86f3;
}
.chatInput_Container_input-container > input:focus {
  outline: none;
}
.chatInput_Container_input-container > button {
  padding: 0.3rem 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9a86f3;
  border: none;
}
.chatInput_Container_input-container > button > svg {
  font-size: 2rem;
  color: white;
}
@media screen and (min-width: 720px) and (max-width: 1080px) {
  .chatInput_Container {
    padding: 0 1rem;
    gap: 1rem;
  }
  .chatInput_Container_input-container > button {
    padding: 0.3rem 1rem;
  }
  .chatInput_Container_input-container > button > svg {
    font-size: 1rem;
  }
}
