.container_setavatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  background-color: #131324;
  height: 100vh;
  width: 100vw;
}
.container_setavatar_loader_loader {
  max-inline-size: 100%;
}
.container_setavatar_title-container > h1 {
  color: white;
}
.container_setavatar_avatars {
  display: flex;
  gap: 2rem;
}
.container_setavatar_avatar {
  border: 0.4rem solid transparent;
  padding: 0.4rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.container_setavatar_avatar > img {
  height: 6rem;
  transition: 0.5s ease-in-out;
}
.container_setavatar_avatar_selected {
  border: 0.4rem solid #4e0eff;
}
.container_setavatar_submit-btn {
  background-color: #4e0eff;
  color: white;
  padding: 1rem 2rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.4rem;
  font-size: 1rem;
  text-transform: uppercase;
}
.container_setavatar_submit-btn:hover {
  background-color: #4e0eff;
}
